* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body,
html {
  height: 100%;
}

.container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background: #3c5077;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#searchInput {
  border: 1px solid lightgray;
  border-radius: 0.7rem;
  padding: 7px;
  background-color: white;
}

#searchInput::placeholder {
  color: #999;
}

.btn {
  padding: 10px 40px;
  /* background-color: #fff; */
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  border-radius: 30px;
}

.btn0 {
  background-color: rgb(37, 37, 227);
}

.btn-submit {
  background-color: rgb(196, 243, 196);
  margin-top: 10px;
}

.btn-submit:hover {
  background-color: rgb(171, 238, 171);
}

.btn1 {
  background-color: red;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-top: 2px;
}

.sidebar {
  width: 100%;
  display: flex;
  padding: 30px;
  margin-top: 5px;
}

.box {
  width: 100%;
  padding: 1rem;
  display: flex;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 1rem;
}

.sidebar .left-part {
  width: 50%;
  height: 50px;
  justify-content: center;
  align-items: center;
  /* background-color: green; */
}

.sidebar .left-part .text {
  margin: 1%;
  width: 70%;
  font-size: 16px;
  outline: none;
  border: none;
  border-bottom: 3px solid #4286f5;
  background-color: #3c5077;
  font-weight: bold;
  padding: 5px;
}

.sidebar .right-part button {
  margin: 0px 50px;
}

.sidebar .right-part {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50px;
}

.product-list {
  display: flex;
  width: 100%;
  color: rgb(37, 37, 227);
  margin-top: 10px;
}

.productTable {
  background-color: #3c5077;
  width: 100%;
  display: flex;
  padding: 30px;
  margin-top: 10px;
}

.productTable-box {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: 420px; /* Set a fixed height for the table container */
  overflow-y: auto; /* Allow vertical scrolling */
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 1rem;
}

.productTable table {
  width: 100%;
  padding: 30px;
}

.productTable table tr th {
  background-color: white;
  color: rgb(37, 37, 227);
  border: 1px solid #ccc;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 30px;
}

th,
td {
  padding: 8px;
}

th {
  cursor: pointer;
}

th span:hover {
  color: blue;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

.modal {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 0.7rem;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%) scale(0.1);
  position: absolute;
  width: 30%;
  height: 50%;
  background-color: rgb(229, 243, 255);
  overflow: auto;
  text-align: center;
  padding: 30px 30px;
  color: #333;
  transition: transform 0.4s, top 0.4s;
}

.open-modal {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.modal-form input[type="submit"] {
  margin-top: 10px;
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.modal-form label {
  display: inline-block;
  width: 100px;
}

.modal-form input[type="text"],
.modal-form input[type="file"] {
  display: inline-block;
  width: calc(100% - 110px);
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.modal-form input[type="file"] {
  cursor: pointer;
  background-color: white;
}

.modal-content {
  display: flex;
  flex-direction: row;
  background-color: rgb(195, 247, 247);
  padding: 20px;
  border: 1px solid #888;
  border-radius: 0.7rem;
  width: 100%;
}

.modal-content span {
  margin-left: 1rem;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

#productTableBody tr {
  display: table-row;
}

.product-image {
  max-width: 100%;
  max-height: 65px;
  object-fit: contain;
}

.editBtn {
  display: block;
  margin: 0 auto;
  padding: 5px 15px;
  text-align: center;
  background-color: lightgray;
  border: 1px solid lightgray;
  border-radius: 30px;
}

.editBtn:hover {
  border: 2px solid rgba(211, 211, 211, 0.445);
  transform: scale(1.2);
}

.deleteBtn {
  display: block;
  margin: 0 auto;
  padding: 5px 15px;
  text-align: center;
  background-color: rgb(228, 43, 43);
  color: white;
  border: 1px solid rgb(228, 43, 43);
  border-radius: 30px;
}

.deleteBtn:hover {
  background-color: white;
  color: red;
  transform: scale(1.2);
}
